ctranslate2==3.22.*
faster-whisper==0.10.*
ffmpeg-python==0.2.0
gradio==3.38.0
gradio-client==0.8.1
yt-dlp
json5
more_itertools
huggingface_hub

# Needed by diarization
intervaltree
srt
https://github.com/pyannote/pyannote-audio/archive/refs/heads/develop.zip
